extends ../layout

block content
    div(class="container")
        h1 #{title}
        each item in results
            div(class="col-lg-12 row")
                h3 #{item.length} Letter Words
                div(class="col-lg-6")
                    table(class="table table-striped")
                        thead
                            tr
                                td Word
                                td Scrabble Score
                                td Words With Friends Score
                        each wordObj in item.words
                            tr
                                td #{wordObj.word}
                                td #{wordObj.score.scrabbleScore}
                                td #{wordObj.score.wwfScore}

