extends ../layout

block content
    div(class="container")
        h1 #{title}
        h4
            | A list of words that #{prettyQuery} with #{word} (words which are the partial form of #{word}).
        include ../userControls/search
        div#results
            h2 Word Search Results
            if results && results.length > 0
                each item in results
                    div(class="col-lg-12 row")
                        h3 #{item.title}
                        div(class="col-lg-6")
                            table(class="table table-striped")
                                thead
                                    tr
                                        td Word
                                        td Scrabble Score
                                        td Words With Friends Score
                                each wordObj in item.words
                                    tr
                                        td
                                            a(href='/word/definition/#{wordObj.word}') #{wordObj.word}
                                        td #{wordObj.score.scrabbleScore}
                                        td #{wordObj.score.wwfScore}
                    if item.length === -1
                        ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-5043209834432901" data-ad-slot="2959774078" data-ad-format="auto")
                        script.
                            (adsbygoogle = window.adsbygoogle || []).push({});
            else
                h4 Sorry we could not find any word combinations :(
        div.clearfix
        div We search the official scrabble dictionary for scrabble words starting with #{word} - we take the letter or word you enter, and generate all words starting with #{word}. In addition there is a list of Words that end with #{word}, words that contain #{word}, and Synonyms of #{word}.  Please do not use this site to cheat your opponents, as that defeats the purpose of the game.  This is meant as a reasearch tool to help impreove your scrabble game.
    script.
        $( document ).ready(function() {
            $('html, body').animate({
                scrollTop: $("#word-search").offset().top - 60
            }, 100);
        });
